body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

#board {
    height: 540px;
    width: 630px;
    background-color: #1976D2;
    border: 10px solid #1565C0;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #1976D2;
    transition: background-color 0.3s ease-in-out;
}

.tile.dropping {
    position: relative;
    animation: dropAnimation 0.5s ease-in-out;
}

.red-piece {
    background-color: #E53935;
}

.yellow-piece {
    background-color: #FFC107;
}

@keyframes dropAnimation {
    0% {
        top: -100px; 
    }
    100% {
        top: 0; 
    }
}
